# 🔐 Secrets and environment configs
.env
.env.*
firebase.json
google-services.json
ios/Runner/GoogleService-Info.plist
android/app/google-services.json

# 🐳 Docker
.dockerignore
Dockerfile
docker-compose.yml
*.log

# 🧪 CI/CD
.github/
.circleci/
*.yml

# 🧼 Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# 🧱 Platform-specific
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
macos/Flutter/GeneratedPluginRegistrant.swift
windows/runner/Debug/
windows/runner/Release/

# 🧠 IDEs and editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
.DS_Store

# 🧪 Test and coverage
coverage/
*.lcov

# 🧙 Obfuscation and symbolication
app.*.map.json
app.*.symbols

